<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="professionalExperience">
            <h2><span jhiTranslate="wirvsvirusApp.professionalExperience.detail.title">Professional Experience</span> {{ professionalExperience.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="wirvsvirusApp.professionalExperience.professionalExperience">Professional Experience</span></dt>
                <dd>
                    <span>{{ professionalExperience.professionalExperience }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/professional-experience', professionalExperience.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
