.search {
  background-color: #6548ab;
  border-radius: 50%;
  display: inline-block;
  object-fit: contain;
}

.profile {
  object-fit: contain;
  background-color: #bbbbbb;
  border-radius: 50%;
  display: inline-block;
}
